.container {
  // display: flex;
  // flex-direction: column;
  padding: 50px 150px;

  .form {
    // width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;

    >div {
      width: 50%;
    }

    .form {
      margin-top: 50px;
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    .install {
      width: 200px;
      height: 42px;
      margin-top: 30px;
    }
  }
}
